@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  @apply bg-[#a8c8b6];
}

html,
body {
  font-family: sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @apply w-full;
  max-width: 100%;
}

.bg-wTransparency {
  @apply bg-[#a8c8b6c0];
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-col-center {
  @apply flex-center flex-col;
}